{% extends 'base.html' %}

{% block content %}


<p>Budgeter was a quick exercise in making web apps. Previously, I had only done big projects that did not apply to the majority of the population, but a budgeting app is always useful.</p>
<p>Setting up to finished development of this project took less than three hours, using Python and Django. It is meant for personal use only and does not have a user management system.</p>
<p>Made in 2017 by Audrey Serene.</p>

{% endblock %}

{% block aside %}

<p>Graphs courtesy of <br />django-chartit and Highcharts.</p>

{% endblock %}
